<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menu Detail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<ion-list #dataList>
  <ion-item-group>
  <ion-item-sliding *ngFor="let item of theItems | async" #slidingItem>
    <button ion-item (click)="openPage(item)">
         <ion-icon name="ios-beer"></ion-icon>

            {{item.name}}
     </button>

    <ion-item-options>
      <button ion-button color="danger" (click)="delete(slidingItem, item)">
        Delete
      </button>
    </ion-item-options>

  </ion-item-sliding>
</ion-item-group>
</ion-list>
<!--<ul>
  <li class="text" *ngFor="let item of theItems | async">
    {{item.name}}
  </li>
</ul>-->

</ion-content>



<!-- <ion-content >
<ion-slides pager col-md-5>

  <ion-slide style="background-color: #eaeaea">
    <h2>Mojito</h2>
    <ion-card>
  <img src="https://st-listas.20minutos.es/images/2011-09/302041/3166530_640px.jpg?1453365228"/>
  <ion-card-content>
    <ion-card-title>
      Nine Inch Nails Live
      </ion-card-title>
    <p>
      El mojito es el rey extraoficial de Cuba, y de medio mundo. Como la caipirinha, es uno de los combinados más populares del mundo, sobre todo en los últimos años en que ha experimentado un auge. Aunque a decir verdad, ya tiene sus años, porque se inventó en la época de la Ley Seca americana, cuando irse a Cuba a beber alcohol era un recoveco legal más. 
    </p>
  </ion-card-content>
</ion-card>
  </ion-slide>

  <ion-slide style="background-color:#eaeaea">
    <h2>Huevos rellenos de surimi</h2>
    <ion-card>
  <img src="http://4.bp.blogspot.com/-2BcV6SX5WpU/T9OAd9t_pMI/AAAAAAAADOQ/yNVkdHdTOUQ/s1600/DSC_0627.JPG"/>
  <ion-card-content>
    <ion-card-title>
      Nine Inch Nails Live
      </ion-card-title>
    <p>
      El mojito es el rey extraoficial de Cuba, y de medio mundo. Como la caipirinha, es uno de los combinados más populares del mundo, sobre todo en los últimos años en que ha experimentado un auge. Aunque a decir verdad, ya tiene sus años, porque se inventó en la época de la Ley Seca americana, cuando irse a Cuba a beber alcohol era un recoveco legal más. 
    </p>

  </ion-card-content>
</ion-card>
  </ion-slide>

  <ion-slide style="background-color: #eaeaea">
    <h2>Costillitas de cerdo en BBQ de café</h2>
     <ion-card>
  <img src="http://static.iris.net.co/cocinasemana/upload/images/2012/8/28/27125_16413_1.jpg"/>
  <ion-card-content>
    <ion-card-title>
      Nine Inch Nails Live
      </ion-card-title>
    <p>
      El mojito es el rey extraoficial de Cuba, y de medio mundo. Como la caipirinha, es uno de los combinados más populares del mundo, sobre todo en los últimos años en que ha experimentado un auge. Aunque a decir verdad, ya tiene sus años, porque se inventó en la época de la Ley Seca americana, cuando irse a Cuba a beber alcohol era un recoveco legal más. 
    </p>
  </ion-card-content>
</ion-card>
  </ion-slide>




  <ion-slide style="background-color: #eaeaea">
    <h2>Camarones en salsa de naranja, soya y jengibre con fideos</h2>
     <ion-card>
  <img src="http://lossaboresdemexico.com/wp-content/uploads/2017/05/thumb_IMG_5553_1024-660x330.jpg"/>
  <ion-card-content>
    <ion-card-title>
      Nine Inch Nails Live
      </ion-card-title>
    <p>
      Este es un maravilloso platillo rico en proteína que incluso a los niños les encantará. Sabores agridulces y salados que se fusionan perfecto. En una misma comida tenemos todo, verduras, proteína y cereales. Los Camarones en salsa de naranja, soya y jengibre con fideos garantizan un delicioso momento en la mesa
    </p>
  </ion-card-content>
</ion-card>
  </ion-slide>
</ion-slides>
  </ion-content> -->