.fondo-ordenes{
	background-image:url("https://imagenes.4ever.eu/data/download/abstractos/dibujo-de-pantalla-abstracto,-fondo-marron-218111.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    width:100%;
    height:100%;
}
.center-orden{
margin-right:auto;
  margin-left:auto;
}
