<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Agregar Item al Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="imagen-admin">

  <ion-grid *ngIf="admin">

  <form #dataForm="ngForm" novalidate>
    <ion-list>

        <ion-item class="color-fondo">
        <ion-input placeholder="Precio" [(ngModel)]="data.price" name="dataText" type="number" #email="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>
      <ion-item class="color-fondo">
        <ion-textarea rows="6" placeholder="Descripcion" [(ngModel)]="data.text" name="dataText" type="text" #email="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-textarea>
      </ion-item>
      <p ion-text [hidden]="email.valid || submitted == false" color="danger" padding-left>
        Data is required
      </p>
    </ion-list>

    <ion-row responsive-sm>
      <ion-col>

        <button ion-button (click)="saveData(dataForm)" type="submit" block>Agregar item al menu</button>
      </ion-col>
    </ion-row>
  </form>
<p ion-text color="danger" padding-left>{{message}}</p>

</ion-grid>

   <ion-grid>
    <h1>{{clientsMessage}}</h1>
  </ion-grid>


<!--<ul>
  <li class="text" *ngFor="let item of theItems | async">
    {{item.name}}
  </li>
</ul>-->

</ion-content>

